#pageContainer{
	max-width: 1600px;
	margin: 0px auto;
	padding: 0px 40px;
}

h1, #p1{
	text-align: center;
}

#photoFrameDiv{
	text-align: center;
}

#photo{
	width: 25%;
	height: 25%;
}

table{
	width: 100%;
}

th{
	font-weight: bold;
	margin-right: 30px;
}

input{
	width: 100%;
}